<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <p>Прикольна картинка 1</p>
    <img src="{% static 'main/img/img1.jpg' %}" alt="Idi">
    <p>Прикольна картинка 2</p>
    <img src="{% static 'main/img/img2.jpg' %}" alt="Na">
    <p>Прикольна картинка 3</p>
    <img src="{% static 'main/img/img3.jpg' %}" alt="3">
    <p>Прикольна картинка 4</p>
    <img src="{% static 'main/img/img4.png' %}" alt="bucvi">
</body>
</html>